<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Character</title>
</head>
<body style="background-color: #F0F8FF">
<div class="container py-3">

    <header th:insert="~{parts/header}"></header>
    <br><br><br>

    <main>
        <div th:object="${character}">
            <div class="ratio ratio-16x9">
                <video width="800" height="500" controls>
                    <source th:src="@{ ${videoPath} + '/' + ${character.getVideoName()} }" type="video/mp4">
                </video>
            </div>
            <br>
            <p class="h4">Pronunciation:</p>
            <audio controls>
                <source th:src="@{ ${audPath} + '/' + ${character.getAudioName()} }" type="audio/mpeg">
            </audio>
            <h1>Character Name:</h1>
            <h1 th:text="${character.getName()}"></h1><br>
            <h4>Description:</h4>
            <h4 th:text="${character.getDescription()}"></h4><br>
            <h4>Examples:</h4>
            <h4 th:text="${character.getExample()}"></h4><br>

            <p class="text-muted" th:text=" 'Author: ' + ${character.getAuthor()} "></p>
            <p class="text-muted" th:text=" 'Updated at: ' + ${character.getUpdatedDate()} "></p>

            <div sec:authorize="authenticated">
                <a th:href="@{ '/api/characters/download/' + ${character.getId()} }"
                   type="submit" class="btn btn-outline-info" th:classappend="${notAllowedDownload} ? 'disabled'" >Download</a>
                <p th:if="${notAllowedDownload}" style="color: red">Your total download count is 0!</p>
            </div>
        </div>
    </main>

    <br><br><br><br><br>
    <footer class="container" th:insert="~{parts/footer}"></footer>

</div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>