<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body style="background-color: #F0F8FF">

<header th:insert="~{/parts/header}"></header>

<br><br><br>

<form class="container w-25" th:method="POST" th:action="@{/api/registration}" th:object="${newUser}">
    <h2 class="form-signin-heading">Registration</h2>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email" required>
        <small style="color: red" class="mt-1 mb-3" th:if="${messageEmail}">User with this email already exist!</small><br>
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username" required>
        <small style="color: red" class="mt-1 mb-3" th:if="${messageUsername}">User with this username already exist!</small>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password"
               required>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <label class="form-label">Role</label>
        <select class="form-select mb-3" aria-label="Default select example" th:field="*{roleID}">
            <option th:value="1" th:text="Admin"></option>
            <option th:value="2" th:text="Adult"></option>
            <option th:value="3" th:text="Manager"></option>
        </select>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Register</button>
</form>

<br><br><br><br><br>

<footer th:insert="~{/parts/footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>